@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Category</th>
            <th>Unit Price</th>
            <th>Stock Qty</th>
            <th></th>
        </tr>
    </thead>

    <tbody id="tableBody">

    </tbody>
</table>
